extends layout

block scripts
	script(src='/js/external/jquery.min.js') 
	script(src='/js/external/underscore-min.js')
	script(src='/js/external/signals.min.js')
	script(src='/js/external/mobile-detect.min.js') 
	script(src='/js/external/jquery.placeholder.js') 
	script(src='/js/external/webfontloader.js')

	// greensock
	script(src='/js/external/ColorPropsPlugin.min.js')
	script(src='/js/external/EasePack.min.js')
	script(src='/js/external/TweenMax.min.js')
	script(src='/js/external/TimelineMax.min.js')

	// Game
	script(src='/js/external/phaser.js')
	script(src='/dist/speez.min.js')

block content




