extends layout

block scripts
	script(src='/socket.io/socket.io.js')
	script(src='/js/external/jquery.min.js')
	script(src='/js/external/underscore-min.js')
	script(src='/js/external/signals.min.js')

	// greensock
	script(src='/js/external/ColorPropsPlugin.min.js')
	script(src='/js/external/EasePack.min.js')
	script(src='/js/external/TweenMax.min.js')
	script(src='/js/external/TimelineMax.min.js')
	script(src='/js/external/phaser.js')

	// Game
	script(src='/js/client.js')
	script(src='/js/common.js')

	// Layout
	script(src='/js/layout/layout.js')
	script(src='/js/layout/layoutPhaser.js')

	// audio	
	script(src='/js/audio.js')

	// Components
	script(src='/js/components/rain.js')
	script(src='/js/components/timerLines.js')
	script(src='/js/components/incomingEffect.js')
	script(src='/js/components/playerFullScreen.js')
	script(src='/js/components/boardFactory.js')
	script(src='/js/components/particleFactory.js')
	script(src='/js/components/stageBoard.js')
	script(src='/js/components/playerCardBar.js')
	script(src='/js/components/playerBoard.js')
	script(src='/js/components/board.js')
	script(src='/js/components/card.js')
	script(src='/js/components/colorBox.js')
	script(src='/js/components/header.js')
	script(src='/js/components/incoming.js')
	script(src='/js/components/menuButton.js')
	script(src='/js/components/playerLobby.js')
	script(src='/js/components/timerBall.js')
	script(src='/js/components/achievementBoard.js')
	script(src='/js/components/stagePlayer.js')

	// States
	script(src='/js/states/boot.js')
	script(src='/js/states/preload.js')
	script(src='/js/states/main.js')
	script(src='/js/states/lobby.js')
	script(src='/js/states/stage.js')
	script(src='/js/states/stageFinish.js')
	script(src='/js/states/player.js')
	script(src='/js/states/playerFinish.js')

block content
	//- .row
	//- 	.small-10.columns.text-center.small-centered
	//- 		h1.header Speez
	//- .row.primary
	//- 	.small-6.small-centered.columns
	//- 		.row.collapse
	//- 			.small-8.columns
	//- 				input.custom-input(type='tel', placeholder='Table Number')
	//- 			.small-4.columns
	//- 				a.button.big.expand.round-right(href='#') Join
	//- .row.secondary
	//- 	.small-3.small-centered.columns
	//- 		a.button.big.expand.round(href='#') Create A Table
		














