doctype html
html(lang="en" ng-app="speezApp")
    head
        title Speez
        meta(name='viewport' content="target-densitydpi=medium-dpi, user-scalable=no, initial-scale=0.5, minimum-scale=0.5, width=device-width")
        link(rel='stylesheet', href='/style/style.css')
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
        block scripts
    body(onload='init()')
        block content 
            